@model BL.DTO.CuentasBancarias.CuentasBancariasView
@{
    ViewBag.Title = "Index";
}

<div class="row">   
    <section class="col-md-7">
        <article class="panel panel-primary">
            <header class="panel-heading">
                <h4>Cuentas bancarias disponibles</h4>
            </header>
            <div class="panel-body table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th></th>
                        <th>Número de cuenta</th>
                        <th>Tipo</th>
                        <th>Banco</th>
                        <th>Saldo</th>
                        <th>Acciones</th>
                    </tr>
                    @foreach (var e in Model.CuentasBancarias)
                    {
                        <tr>
                            <td>@Html.Hidden(e.id_cuenta_bancaria.ToString())</td>
                            <td>@e.numero_cuenta</td>
                            <td>@e.cuenta.NOMBRE</td>
                            <td>@e.banco.NOMBRE</td>
                            <td>$@e.saldo</td>
                            <td>
                                <a class="btn btn-primary" href="~/CuentaBancaria/Index/@e.id_cuenta_bancaria">Editar</a>
                                <a class="btn btn-danger" href="~/CuentaBancaria/Eliminar/@e.id_cuenta_bancaria">Eliminar</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </article>
    </section>
    <section class="col-md-4">
        <article class="panel panel-success">
            <header class="panel-heading">
                <h4>Nuevo registro de cuenta bancaria</h4>
            </header>
            <div class="panel-body">
            @using (Html.BeginForm("Index", "CuentaBancaria", FormMethod.Post))
            {
                @Html.HiddenFor(d => d.cuentaBancaria.id_cuenta_bancaria)
                <span>Número de cuenta</span>
                @Html.TextBoxFor(d => d.cuentaBancaria.numeroCuenta, new { @class = "form-control" })
                <br />
                <span>Tipo de Cuenta</span>
                @Html.DropDownListFor(d => d.cuentaBancaria.id_tipo_cuenta, (SelectList)ViewBag.TipoCuentas, new { @class = "form-control" })
                <br />
                <span class="">Banco</span>
                @Html.DropDownListFor(d => d.cuentaBancaria.id_banco, (SelectList)ViewBag.Bancos, new { @class = "form-control" })
                <br />
                <span>Saldo</span>
                @Html.TextBoxFor(d => d.cuentaBancaria.saldo, new { @class = "form-control", @type = "number", @step = "0.01", @min = "0" })
                <br />
                <input type="submit" value="Guardar" class="btn btn-success" />
            }
            </div>
        </article>
    </section>
</div>

<script>
    document.addEventListener('keydown', function (event) {
        if (event.key === "Enter") {
            event.preventDefault();  // Evitar el submit del formulario
        }
    });
</script>

